@model Product

<div class="m-3 jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@ViewBag.Products.Name</h1>
        <p class="lead">@ViewBag.Products.Description</p>
        <hr class="my-2">
        <p></p>
        <p class="lead">
            <a class="float-left btn btn-success btn-md" href="/" role="button">back</a>
        </p>
    </div>
</div>
    <div class="m-2 row justify-content-between">
        <div class="col-4">
            <div class="card">
                <div class="card-header">Categories:</div>
                <ul class="list-group list-group-flush">
                    @foreach( var c in Model.ProdCollections)
                    {
                        <li class="list-group-item" >@c.ColCat.CatName
                            <a class="float-right text-dark" href="/removeP/collection/@c.ColId"> &times</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
         <div class="col-4">
                <div class="card">
                    <div class="card-header">Add Category:</div>
                    <div class="card-body">
                        <form class="form-inline" action="/AddProdCol/@Model.ProdId" method="post">
                            <select class="form-control col mr-sm-2" name="catid">
                                
                                 @foreach(var n in ViewBag.NotInCol){
                                    {
                                        <option value="@n.CatId">@n.CatName</option>
                                    }
                                }
                            </select>
                            <br>
                            </br>
                            <input type="submit"  value="Add Category" class="btn btn-md btn-success">
                        </form>
                    </div>
                    </div>
            </div>
        </div>
